@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-Black.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-ExtraBold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-ExtraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/src/components/fonts/Pangram-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 3px 0px #00000008;
  height: 72px;
  padding: 0 23.5px;
}

.nav-container-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.nav-container-right > button{
  background: #D87023;
  width: 114px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #FFFFFF;
  font-family: "Sofia Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #E9EBEA;
}

.nav-large{
  display: none;
}

.waitlist-form-cover{
  background-color: #0E0E0E;
  background-image: url("/src/components/assets/waitlistbackground.svg");
  border-radius: 7.19px;
  /* min-width: 343px; */
  width: 87.95%;
  height: 659px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waitlist-form{
  padding-top: 98px;
  /* min-width: 310px; */
  width: 90.34%;
  margin: 0 auto;
  overflow: visible;
}

.waitlist-form > p:first-of-type{
  font-family: "Pangram", sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 9.93px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}

.waitlist-form > p:first-of-type > span > img{
  display: flex;
  align-items: center;
}

.waitlist-form > h2{
  /* position: relative; */
  margin: auto;
  padding-top: 12px !important;
  padding-bottom: 3px;
  font-family: "Pangram", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 35.75px;
  /* text-align: center; */
  color: #FFFFFF;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 105%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.waitlist-form > h2 > span{
  font-family: "Courgette", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 35.75px;
  text-align: left;
  color: #009F79;
  position: relative;
  margin-top: -4px !important;
  opacity: 1;
  animation: fadeInOut 4s ease-in-out infinite;
}

.waitlist-form > h2 > span.fade-in {
  opacity: 1;
}

.waitlist-form > h2 > span.fade-out {
  opacity: 0;
}

.stroke{
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 100%;
}

.waitlist-form > p:last-of-type{
  font-family: "Sofia Sans" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-top: 22px;
  min-width: 269px;
  width: 86.8%;
}

.waitlist-form > div{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.waitlist-form > div > input{
  width: 100%;
  max-width: 327px;
  height: 56px;
  border-radius: 12px;
  border-width: 0px;
  border-style: solid;
  border-color: #D6DAD9;
  padding: 0 16px;
  box-sizing: border-box;
}

.waitlist-form > div > input::placeholder{
  font-family: "Sofia Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.3px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #1A1A1A;
}

.waitlist-form-button{
  margin-top: 14px;
  width: 200px;
  height: 56px;
  gap: 0px;
  border-radius: 56px;
  border: 2px solid #FFFFFF;
  background: #009F79;
  color: #E9EBEA;
  font-family: "Sofia Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
}

.waitlist-slider{
  position: relative;
}

.waitlist-slider > div:first-of-type{
  display: flex;
  align-items: center;
  margin-left: 60%;
  width: 105.24px;
  /* height: 211.68px; */
}

.waitlist-slider > div:first-of-type > img{
  width: 100%;
  z-index: 10;
}

.waitlist-slider > div:last-of-type{
  position: absolute;
  width: 100%;
  bottom: 5px;
}

.slider-container {
  width: 100%;
  height: 120.06px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  position: absolute;
  animation: scroll-left 10s linear infinite;
  gap: 5.79px;
}

.slider-item {
  width: 101.61px;
  height: 120.06px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4.79px 6.71px 0px #00000014;
  border-radius: 5.75px;
}

.slider-item > img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.main-section{
  margin-top: 50px;
}

.main-section1{
  position: relative;
  width: 78.97%;
  margin: auto;
}

.main-section1 > img:first-of-type{
  position: absolute;
  top: 47px;
  left: -41px;
  z-index: -10;
}

.main-section1 > img:last-of-type{
  position: absolute;
  top: 30px;
  right: -43px;
  z-index: -10;
}

.main-section1 > p:first-of-type{
  font-family: "Pangram", sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #353542;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}

.main-section1 > p:first-of-type > span{
  display: flex;
  align-items: center;
}

.main-section1 > h2{
  margin: 0;
  margin-top: 24px;
  font-family: "Pangram", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  color: #353542;
}

.main-section1 > h2 > button{
  padding: 2px 16px 4px 16px;
  border-radius: 19.12px;
  background: #D87023;
  border: 1.91px solid #000000;
  box-shadow: 0px 5.74px 7.65px 0px #00000029;
  font-family: "Sofia Sans", sans-serif;
  font-size: 22.94px;
  font-weight: 400;
  line-height: 30.59px;
  text-align: center;
  color: #FFFFFF;
}

.main-section1 > p:last-of-type{
  font-family: "Sofia Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 32px;
}

.main-section2{
  margin: auto;
  margin-top: 56px;
  width: 87.69%;
  /* height: 714px; */
  border-radius: 8.95px;
  background: #FFF8F2;
  position: relative;
  padding-bottom: 25px;
}

.main-section2 > img:first-of-type{
  position: absolute;
  top: 23.73px;
  left: 0;
}

.main-section2 > img:last-of-type{
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-section2 > div:first-of-type{
  width: 80.7%;
  max-width: 280px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  padding-top: 1.5rem;
}

.grid-item{
  z-index: 20;
  box-shadow: 0px 4.06px 5.69px 0px #00000014;
  border-radius: 4.88px;
  height: 101.98px;
}

.grid-item > img{
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.add-opacity{
  opacity: 50%;
}

.reduce-space{
  margin-top: -5px;
}

.main-section2 > div:last-of-type{
  position: relative;
  width: 74.21%;
  max-width: 280px;
  margin: auto;
  margin-top: 30px;
}

.main-section2 > div:last-of-type > img{
  width: 100%;
}

.main-note{
  position: absolute;
  top: 60px;
  right: -35px;
}

.note:nth-of-type(2){
  position: absolute;
  bottom: 85px;
  left: -35px;
}

.note:nth-of-type(3){
  position: absolute;
  bottom: 53px;
  left: 0;
}

.note:nth-of-type(4){
  position: absolute;
  bottom: 21px;
  left: 28px;
}

.separator{
  margin: 56px auto;
  border: 4px solid #EEEEEE;
  width: 87.69%;
}

.main-section3{
  width: 87.69%;
  margin: auto;
  border: 1px solid #EDEFFC;
  box-shadow: 0px 20px 28px 0px #00000014;
  padding: 56px 34.5px 32px 34.5px;
  border-radius: 14px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.main-section3 > div{
  font-family: 'Pangram', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #353542;
  margin-bottom: 60px;
}

.main-section3 > div > button:first-of-type{
  font-family: "Sofia Sans", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding: 2px 12px 4px 12px;
  border-radius: 40px;
  border: 2px solid #000000;
  color: #FFFFFF;
  background: #5F63E1;
}

.main-section3 > div > button:last-of-type{
  font-family: "Sofia Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 12px 4px 12px;
  gap: 10px;
  border-radius: 40px;
  background: #000000;
  border: 2px solid #009F79;
}

@media only screen and (min-width: 768px){
  .container{
    padding: 20px 30px;
  }

  .navbar{
    display: grid;
    grid-template-columns: 16.53% 79.65%;
    grid-column-gap: 20px;
  }

  .nav-container{
    /* background-image: url('/src/components/assets/navBack.svg'); */
    box-shadow: none;
    flex-direction: column;
    justify-content: unset;
    align-items:flex-start;
    height: auto;
    padding: unset;
  }

  .nav-container > div:first-of-type{
    margin-top: 10px;
    margin-left: 5px;
    width: 54px;
    height: 46.03px;
  }

  .nav-container > div:first-of-type > img{
    width: 100%;
    height: 100%;
  }

  .nav-container-right{
    display: none;
  }

  .nav-large{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px;
  }

  .nav-large > div{
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #353542;
    padding: 4px 15px;
  }

  .nav-large > div:first-of-type{
    border-left: 3px solid #D87023;
  }

  .nav-large > div:last-of-type{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .nav-large > div:last-of-type > span{
    padding: 6px;
    background: #F7ECE4;
    border-radius: 4px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(1) > img{
    width: 16.13px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(2) > img{
    width: 18px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(3) > img{
    width: 15.51px;
  }

  .waitlist-form-cover{
    width: 100%;
    height: 735px;
  }

  .waitlist-form{
    padding-top: 100px;
    width: 100%;
  }

  .waitlist-form > p:first-of-type{
    font-size: 13px;
    line-height: 24px;
    gap: 18px;
  }

  .waitlist-form > p:first-of-type > span > img{
    width: 18px;
  }

  .waitlist-form > h2{
    padding-top: 20px !important;
    font-size: 46px;
    line-height: 46.4px;
    width: 100%;
  }

  .waitlist-form > h2 > span{
    font-size: 46px;
    line-height: 46.4px;
  }

  .waitlist-form > p:last-of-type{
    font-size: 18px;
    line-height: 30px;
    max-width: 543px;
  }

  .waitlist-form > div{
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .waitlist-form > div > input{
    width: 280px;
  }

  .waitlist-form-button{
    width: 150px;
    margin-top: unset;
  }

  .waitlist-slider > div:first-of-type{
    width: 183.37px;
    margin-left: 55%;
  }

  .waitlist-slider > div:first-of-type > img{
    width: 100%;
  }

  .slider-container {
    height: 229.06px;
  }

  .slider-item{
    width: 184.65px;
    height: 229.06px;
    border-radius: 13.85px;
  }

  .main-section{
    margin-left: 16.53%;
  }

  .main-section1 > p:first-of-type{
    font-size: 13px;
    line-height: 24px;
    gap: 18px;
  }

  .main-section1 > p:first-of-type > span > img{
    width: 18px;
  }

  .main-section1 > h2{
    font-size: 48px;
    line-height: 48px;
  }
  
  .main-section1 > h2 > button{
    padding: 8px 20px 8px 20px;
    border: 4px solid #000000;
    border-radius: 40px;
    font-size: 32px;
  }

  .main-section1 > p:last-of-type{
    font-size: 16px;
    line-height: 24px;
    max-width: 547px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section2{
    display: grid;
    grid-template-columns: 51.13% 46.1%;
    grid-column-gap: 30px;
  }

  .main-section2 > div:first-of-type{
    width: 80.7%;
    max-width: unset;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    padding-top: 1.5rem;
  }
  
  .main-section2 > div:last-of-type{
    margin: unset;
    margin-top: 30px;
    width: 200px;
    max-width: unset;
  }

  .grid-item{
    box-shadow: 0px 6.36px 8.9px 0px #00000005;
    border-radius: 7.63px;
    width: 74.38px;
    height: 99.54px;
  }

  .main-note{
    top: 50px;
    right: -35px;
  }
  
  .note:nth-of-type(2){
    bottom: 105px;
    left: -35px;
  }
  
  .note:nth-of-type(3){
    bottom: 73px;
    left: 0;
  }
  
  .note:nth-of-type(4){
    bottom: 41px;
    left: 28px;
  }

  .main-section3{
    margin-top: 40px;
  }

  .main-section2 > img:first-of-type{
    position: absolute;
    top: 23.73px;
    left: 0;
  }
  
  .main-section2 > img:last-of-type{
    position: absolute;
    bottom: 45px;
    right: 0;
  }

  .main-section1 > img:first-of-type{
    top: 117px;
    left: -180px;
    width: 200px;
  }
  
  .main-section1 > img:last-of-type{
    top: 100px;
    right: -90px;
    width: 130px;
  }
}

@media only screen and (min-width: 1024px){
  .nav-container > div:first-of-type{
    width: 60px;
    height: 50.03px;
  }

  .nav-large{
    margin-top: 40px;
  }

  .nav-large > div{
    font-size: 16px;
  }

  .nav-large > div:last-of-type{
    gap: 10px;
  }

  .nav-large > div:last-of-type > span{
    padding: 7px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(1) > img{
    width: 17.13px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(2) > img{
    width: 19px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(3) > img{
    width: 16.51px;
  }

  .waitlist-form-cover{
    height: 835px;
  }

  .waitlist-form{
    padding-top: 110px;
  }

  .waitlist-form > p:first-of-type{
    font-size: 14px;
  }

  .waitlist-form > p:first-of-type > span > img{
    width: 21px;
  }

  .waitlist-form > h2{
    padding-top: 20px !important;
    font-size: 66px;
    line-height: 56.4px;
  }

  .waitlist-form > h2 > span{
    font-size: 66px;
    line-height: 56.4px;
  }

  .waitlist-form > p:last-of-type{
    font-size: 19px;
  }

  .waitlist-form > div > input{
    width: 300px;
  }

  .waitlist-form-button{
    width: 170px;
  }

  .waitlist-slider > div:first-of-type{
    width: 203.37px;
    margin-left: 60%;
  }

  .slider-container {
    height: 249.06px;
  }

  .slider-item{
    width: 204.65px;
    height: 249.06px;
  }

  .main-section1 > p:first-of-type{
    font-size: 14px;
  }

  .main-section1 > p:first-of-type > span > img{
    width: 21px;
  }

  .main-section1 > h2{
    font-size: 56px;
    line-height: 56px;
  }
  
  .main-section1 > h2 > button{
    padding: 10px 20px 10px 20px;
    font-size: 40px;
  }

  .main-section1 > p:last-of-type{
    font-size: 17px;
  }

  .grid-item{
    width: 104.38px;
    height: 129.54px;
  }
  
  .main-section2 > div:last-of-type{
    width: 300px;
  }

  .main-note{
    top: 70px;
    right: -45px;
    width: 141px;
  }

  .main-note > img{
    width: 100%;
  }
  
  .note:nth-of-type(2){
    bottom: 125px;
    left: -35px;
    width: 145px;
  }

  .note:nth-of-type(2) > img{
    width: 100%;
  }
  
  .note:nth-of-type(3){
    bottom: 90px;
    left: 0;
    width: 145px;
  }

  .note:nth-of-type(3) > img{
    width: 100%;
  }
  
  .note:nth-of-type(4){
    bottom: 54px;
    left: 28px;
    width: 145px;
  }

  .note:nth-of-type(4) > img{
    width: 100%;
  }

  .main-section1 > img:first-of-type{
    top: 117px;
    left: -250px;
    width: 230px;
  }
  
  .main-section1 > img:last-of-type{
    top: 100px;
    right: -110px;
    width: 130px;
  }
}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 1440px;
    margin: auto;
  }

  .nav-container > div:first-of-type{
    width: 68px;
    height: 56.03px;
  }

  .nav-large{
    margin-top: 45px;
  }

  .nav-large > div{
    font-size: 18px;
  }

  .nav-large > div:last-of-type{
    gap: 12px;
  }

  .nav-large > div:last-of-type > span{
    padding: 8px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(1) > img{
    width: 18.13px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(2) > img{
    width: 20px;
  }

  .nav-large > div:last-of-type > span:nth-of-type(3) > img{
    width: 17.51px;
  }

  .waitlist-form-cover{
    height: 935px;
  }

  .waitlist-form{
    padding-top: 120px;
  }

  .waitlist-form > p:first-of-type{
    font-size: 15px;
  }

  .waitlist-form > p:first-of-type > span > img{
    width: 24px;
  }
  
  .waitlist-form > h2{
    padding-top: 20px !important;
    font-size: 96px;
    line-height: 86.4px;
  }

  .waitlist-form > h2 > span{
    font-size: 96px;
    line-height: 86.4px;
  }

  .waitlist-form > p:last-of-type{
    font-size: 20px;
  }

  .waitlist-form > div > input{
    width: 327px;
  }

  .waitlist-form-button{
    width: 200px;
  }

  .waitlist-slider > div:first-of-type{
    width: 223.37px;
    margin-left: 65%;
  }

  .slider-container {
    height: 279.06px;
  }

  .slider-item{
    width: 234.65px;
    height: 279.06px;
  }

  .main-section1 > p:first-of-type{
    font-size: 14px;
  }

  .main-section1 > p:first-of-type > span > img{
    width: 24px;
  }

  .main-section1 > h2{
    font-size: 64px;
    line-height: 64px;
  }
  
  .main-section1 > h2 > button{
    font-size: 48px;
  }

  .main-section1 > p:last-of-type{
    font-size: 18px;
  }

  .grid-item{
    width: 129.38px;
    height: 154.54px;
  }
  
 .main-section2 > div:last-of-type{
    width: 370px;
  }

  .main-note{
    top: 80px;
    right: -45px;
    width: 161px;
  }
  
  .note:nth-of-type(2){
    bottom: 125px;
    left: -35px;
    width: 165px;
  }
  
  .note:nth-of-type(3){
    bottom: 85px;
    left: 0;
    width: 165px;
  }
  
  .note:nth-of-type(4){
    bottom: 45px;
    left: 28px;
    width: 165px;
  }

  .main-section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;

  }

  .main-section3 > div{
    margin-bottom: unset;
    width: 60%;
  }

  .main-section3 > button{
    width: 200px;
  }

  .main-section1 > img:first-of-type{
    top: 127px;
    left: -260px;
    width: 250px;
  }
  
  .main-section1 > img:last-of-type{
    top: 110px;
    right: -135px;
    width: 150px;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% + 100vw));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}